.project-div{
    width: 100%;
    height: 600px;
    padding: 30px;
   
    background-color: rgb(173, 167, 158);
    .upper-div{
        background-color:rgb(77, 86, 86);
        height: 40%;


    }
    .footer-div{
         background-color:rgb(27, 142, 142);
        height: 40%;
        width: 100%;
        display: flex;
        .left{
            width: 50%;
            height: 100%;
            background-color: rgb(151, 197, 197);
        }
        .right{
            width: 50%;
            height: 100%;
            background-color: rgb(184, 184, 36);
        }
    }
}