html,
body {
    background: #E3E3D8;
    font-family: sans-serif;
    padding: 25px;}
.parent-main-div{
    display: flex;
}
.bottom-div-parent,
.cart{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
gap: 10px;
    height: 200px;
    font-size: 40px;
    background-color: #3a3e3f;
}

.wrapper {
    width: 300px;
    height: 500px;
    color: black;

    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;

    

    .container {
        width: 100%;
        height: 100%;

        .top {
            height: 80%;
            width: 100%;
            background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }

        .bottom {
            width: 200%;
            height: 20%;
            transition: transform 0.5s;

            &.clicked {
                transform: translateX(-50%);
            }

            h1 {
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
                padding: 0;
            }

            .left {
                height: 100%;
                width: 50%;
                background: #f4f4f4;
                position: relative;
                float: left;

                .details {
                    padding: 20px;
                    float: left;
                    width: calc(70% - 40px);
                }

                .buy {
                    float: right;
                    width: calc(30% - 2px);
                    height: 100%;
                    background: #f1f1f1;
                    transition: background 0.5s;
                    border-left: solid thin rgba(0, 0, 0, 0.1);

                    i {
                        font-size: 30px;
                        padding: 30px;
                        color: #254053;
                        transition: transform 0.5s;
                    }

                  
                }
            .right{
                display: flex;
                // align-items: center;
                justify-content: center;
                padding: 40px 0;
                button{
                    padding: 10px;
                    background: #1e6284;
                    border:none;
                    border-radius: 10px;
                    cursor: pointer;
                    box-shadow: 2px 2px 10px black;
                }
                button:hover{
                    transform: scale(1.04);

                }
              
                
            }
            }

            
        }
    }
}