<div class="main">
  <ul class="Ul-list">
    <li class="lists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home">Home</li>
    <li class="lists" routerLinkActive="active" routerLink="/about">About</li>
    <li class="lists" routerLinkActive="active" routerLink="/contact">Contact</li>
    <li class="lists" routerLinkActive="active" routerLink="/crud">Crud-Operation</li>
    <li class="lists" routerLinkActive="active" routerLink="/product">Product</li>
    <li class="lists" routerLinkActive="active" routerLink="/buy-product">Buy Product</li>
    <li class="lists" routerLinkActive="active" routerLink="/projects">Projects</li>
    
  </ul>
</div>

<router-outlet> </router-outlet>  