.main-div{
    padding:20px 0 ;
    width: 100%;    
    height: 500px;
    background-color: #4e4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
   


.input-div{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    .inpbtn{
        outline: none;
        border: none;
        border-radius: 2px;
        padding: 5px 10px;
    }
    .inpbtn:nth-child(2){
        background-color:#27DFB3;
        color: white;
        cursor: pointer;
        
    }
    .inpbtn:nth-child(2):active{
        scale: 1.02;
    
    }
   
   
}
 .warning-msg{
        color: rgb(239, 50, 50);
        font-size: 15px;
    }

}
.cntnt-div{
    display: flex;
    background-color: rgb(64, 62, 62);
    padding:7px 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    justify-content: space-between;
      button{
        padding: 2px 10px;
        background-color: #df4c27;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 4px 4px 5px rgb(42, 34, 34);
        
    }
}


