.home-div{
    width: 100%;
    height: 200px;
    background-color: rgb(105, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    gap: 20px;
}